.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.space-between-cards {
    min-height: 20px;
}

.container-body {
    text-align: center;
}

.custom-mat-icon {
    font-size: 40px;
    padding-left: 30px;
}