<div class="contaner-fluid">
    <div class="row">

        <div class="container">

            <div class="col-sm-12 information-banner">
                <h1>Profile</h1>
                <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                <p>Ntokozo Majozi</p>
            </div>

            <div class="space-between-cards"></div>

            <mat-card class="type-card-properties card-5" (click)="service()">
                <h1>Nail Enhancements</h1>  
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">soap</mat-icon>  
            </mat-card>

            <div class="space-between-cards"></div>
            
            <mat-card class="type-card-properties card-5" (click)="service()">
                <h1>Facial Treatments</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">face</mat-icon>
            </mat-card>

            <div class="space-between-cards"></div>
    
            <mat-card class="type-card-properties card-5" (click)="service()">
                <h1>Grooming Treatments</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">sanitizer</mat-icon>
            </mat-card>

            <mat-card class="type-card-properties card-5" (click)="service()">
                <h1>Body Treatments</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">accessibility</mat-icon>
            </mat-card>

            <mat-card class="type-card-properties card-5" (click)="service()">
                <h1>Feet Treatments</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">airline_seat_legroom_extra</mat-icon>
            </mat-card>

            <mat-card class="type-card-properties card-5" (click)="service()">
                <h1>Tammy Taylor Add-Ons</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">add_task</mat-icon>
            </mat-card>

        </div>

    </div>
</div>
