<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 gen-spacer"></div>
    </div>

    <div class="row">

        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            
            <div class="container">
                <mat-card class="form-card-properties form-card-5">
                    <form class="form-wrapper">
                      <div class="container" style="text-align: center">
                        <h3>{{ header }}</h3>
                        &nbsp;
                      </div>
              
                      <mat-divider></mat-divider>
              
                      &nbsp;
              
                      <mat-form-field class="form-input-full-width">
                        <input maxlength="10" matInput placeholder="Username" name="username" [(ngModel)]="data.username">
                      </mat-form-field>
              
                      <!-- <app-error-handler *ngIf="data.username?.length >= 10"></app-error-handler> -->
              
                      <mat-form-field class="form-input-full-width">
                        <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="data.password">
                      </mat-form-field>
              
                      &nbsp;
              
                      <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary" class="form-button-properties" (click)="login(data)">Login</button>
              
                      &nbsp;
              
                      <button mat-raised-button color="primary" class="form-button-properties" (click)="register()">Register</button>
                      <!-- <app-test-component></app-test-component> -->
              
                      &nbsp;
              
                      <!-- <div class="row">
                        <content style="padding-left: 20px; font-family: 'Times New Roman', Times, serif; color: blue; font-size: 20px; font-weight: bold; font-style: italic;">
                          <label>Forgot Password</label>
                        </content>
                        &nbsp;
                        <content style="padding-left: 35px; font-family: 'Times New Roman', Times, serif; color: blue; font-size: 20px; font-weight: bold; font-style: italic;">
                          <label (click)="register()">Register</label>
                        </content>
                      </div> -->
              
                    </form>
                </mat-card>
              </div>              

        </div>

        <div class="col-sm-4"></div>
    </div>
    
</div>
  