<div class="contaner-fluid">
    <div class="row">

        <div class="container">

            <div class="col-sm-12 information-banner">
                <h1>Profile</h1>
                <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                <p>Ntokozo Majozi</p>
            </div>

            <div class="space-between-cards"></div>

            <mat-card class="type-card-properties card-5" (click)="customerType('women')">
                <h1>Women</h1>  
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">female</mat-icon>  
            </mat-card>

            <div class="space-between-cards"></div>
            
            <mat-card class="type-card-properties card-5" (click)="customerType('men')">
                <h1>Men</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">male</mat-icon>
            </mat-card>

            <div class="space-between-cards"></div>
    
            <mat-card class="type-card-properties card-5" (click)="customerType('children')">
                <h1>Children</h1>
                <mat-icon class="custom-mat-icon" aria-hidden="false" aria-label="Example home icon">child_care</mat-icon>
            </mat-card>

        </div>

    </div>
</div>
